.banner{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f1d38bbdda690e28a81673c06325075&auto=format&fit=crop&w=1189&q=80");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  .banner-content{
    margin: 160px;
    h1{
      font-size: 70px;
      color: white;
    }
    p{
      font-weight: lighter;
      color: gray;
      font-size: 18px;
    }
  }
}

.project-banner{
  color: white;
  text-align: center;
  height: 50vh;
  background-position: center;
  /* if you have a 70px navbar => height:  */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    text-align:center;
  }
}
