
.completed{
  h2{
    font-size: 30px;
    // font-weight: bold;
    color: black;
  }
  ul{
    list-style-type: none;
    li{
      font-size:16px;
      color: white;
      margin-bottom: 30px;
      a{
        color: #e6a327;
        text-decoration: none;
        background: #f1efefa6;
        padding: 10px;
        border: 3.5px solid;
        font-weight: bolder;
        border-radius: 13px;
        &:hover{
          color: green;
          transition: 0.6s;
        }
      }
    }
  }

}
.uncompleted{
  h2{
    font-size: 30px;
    color: black;
  }
  ul{
    list-style-type: none;
    li{
      font-size:16px;
      color: white;
      margin-bottom: 30px;
      a{
        color: #e62727bd;
        text-decoration: none;
        background: #f1efefa6;
        padding: 10px;
        border: 3.5px solid;
        font-weight: bolder;
        border-radius: 13px;
        &:hover{
          color: #e6a327;
          transition: 0.6s;
        }
      }
    }
  }

}

