<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.imgur.com/BKUtlvt.jpg');">
</div>

<div class="brief-details">
  <div class="container">
    <h5>CodeWithUs</h5>
    <h2>Within a team of developers I helped implement a sign-in with github feature as well as design the front-end for the projects page.</h2>
  </div>
</div>

