---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="container">
    <div class="home-content">
      <h1>Hi, i'm <b>Sam Gasper.</b> Aspiring <b>Software Developer.</b></h1>
      <p>Have a look at my work down below</p>
      <div class="completed">
        <h2>Completed Projects:</h2>
          <ul>
            <li><%= link_to "CodeWithUs- A web app done with 3 others/Ruby on Rails/Project Management", "http://www.codewithus.xyz/"  %></li>
            <li><a href="perl.html">Hotel Guest list (PERL)</a></li>
          </ul>
      </div>

      <div class="incompleted">
        <h2>Work in progress:</h2>
          <ul>
            <li><%= link_to "Thin Life- A 2D top down puzzle game developed on Unity with C#", "thin.html.erb"  %></li>
          </ul>
      </div>
      <div class="scroll">
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
