---
title: GaspPortfolio
---

<div class="home">
  <div class="banner">
    <div class="banner-content">
      <h1>Hi, I'm Sam Gasper. Friendly neighbourhood Software Developer</h1>
      <p>Have a look at my work down below</p>
      <div id="section04" class="demo">
        <a href="#project-list-content"><span></span></a>
      </div>
    </div>
  </div>

  <div id="project-list-content">
    <div class="container">
      <div class="completed">
        <h2>My work</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <% link_to 'https://www.codewithus.xyz/' do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.imgur.com/BKUtlvt.jpg');">
                <div class="card-category">Ruby on rails</div>
                <div class="card-description">
                  <h2>Code-with-us</h2>
                  <p>Web app built with Rails</p>
                </div>
              </div>
            <% end%>

            <div class="card">
              <div class="card-category">Python</div>
              <div class="card-description">
                <h2>C1 Chart converter</h2>
                <p>Music to text automation tool</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uncompleted">
        <h2>In progress</h2>
<!--         <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.imgur.com/PGgZTph.jpg');">
              <div class="card-category">Unity/C#</div>
              <div class="card-description">
                <h2>Thin life</h2>
                <p>Top down puzzle game</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
<script src="/javascripts/navbar.js"></script>
<script>initUpdateNavbarOnScroll(); initUpdateNavbarLinkOnScroll()</script>
</div>


